/* Comfortaa */

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* SF-Pro */

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-UltralightItalic.otf") format("opentype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro-Display-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
}
